/build/
/box.json
composer.lock
vendor/
.php_cs.cache
doc/.couscous
.subsplit
tests/Core/Fixtures/challenges/.well-known/acme-challenge/*
!tests/Core/Fixtures/challenges/.well-known/acme-challenge/.gitkeep
