{
    "directories": [ "src", "res" ],
    "files": [ "LICENSE" ],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "Tester",
                "Tests",
                "tests"
            ],
            "in": "vendor"
        },
        {
            "name": "*.xsd",
            "in": "vendor"
        }
    ],
    "compactors": [ "KevinGH\\Box\\Compactor\\Php" ],
    "check-requirements": false,
    "compression": "GZ",
    "git-version": "package_version",
    "main": "bin/acme",
    "output": "build/acmephp.phar",
    "algorithm": "OPENSSL",
    "key": "../private.key"
}
