{
    "directories": [ "src" ],
    "files": [ "LICENSE" ],
    "finder": [
        {
            "name": "{\\.(php|bash|fish|zsh)}",
            "exclude": [
                "Tester",
                "Tests",
                "tests"
            ],
            "in": "vendor"
        },
        {
            "name": "*.xsd",
            "in": "vendor"
        }
    ],
    "git": "git",
    "compression": "GZ",
    "git-version": "package_version",
    "output": "build/acmephp.phar"
}
