includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src

    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        -
            identifier: missingType.return
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.parameter
