<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
    backupGlobals                           = "false"
    beStrictAboutTestsThatDoNotTestAnything = "true"
    beStrictAboutOutputDuringTests          = "true"
    colors                                  = "true"
    convertNoticesToExceptions              = "false"
    verbose                                 = "true"
    bootstrap                               = "vendor/autoload.php"
>

    <php>
        <env name="SYMFONY_ENV" value="test"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>

    <testsuites>
        <testsuite name="Acme PHP Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
</phpunit>
