#
# acmephp.conf - Configuration file for Acme PHP client.
#
# See https://github.com/acmephp/acmephp for more informations
#

###################################################################
# Storage
#
# Configure here where and how you want to save your certificates
# and SSL keys.
#

storage:

    #
    # By default, Acme PHP will create a backup of every file
    # before any modification. You can disable this mechanism here.
    #
    enable_backup: true

    #
    # Actions to execute right after the generation of a file (key, CSR or certificate).
    # Actions are executed in the order provided in configuration.
    #
    # See the documentation to learn how to create your own action.
    #
    post_generate: ~

        #
        # Build a file structure suited for nginx-proxy (https://github.com/jwilder/nginx-proxy)
        #
        # - action: build_nginxproxy

        #
        # Mirror your local storage directory on a FTP host
        #
        # - action: push_ftp
        #   root: /acmephp
        #   host: ftp.example.com
        #   username: username
        #   password: password
        #   # port: 21
        #   # passive: true
        #   # ssl: true
        #   # timeout: 30

        #
        # Mirror your local storage directory on a SFTP host
        #
        # - action: push_sftp
        #   root: /acmephp
        #   host: sftp.example.com
        #   username: username
        #   password: password
        #   # port: 22
        #   # private_key: path/to/or/contents/of/privatekey
        #   # timeout: 30

        #
        # Install the certificate in an AWS ELB (Classic Load Balancer)
        #
        # - action: install_aws_elb
        #   region: eu-west-1
        #   loadbalancer: my_elb
        #   # certificate_prefix: acmephp_
        #   # cleanup_old_certificate: true
        #   # listener: 443

        #
        # Install the certificate in an AWS ELBv2 (Application Load Balancer)
        #
        # - action: install_aws_elbv2
        #   region: eu-west-1
        #   loadbalancer: my_elb
        #   # certificate_prefix: acmephp_
        #   # cleanup_old_certificate: true
        #   # listener: 443

###################################################################
# Monitoring
#
# This section let you configure a simple monitoring mechanism that
# will warn you if an error occurs during a CRON job.
#

monitoring: ~   # Monitoring is disabled by default

# You can enabled it by configuring at least one alert handler.
# You can change the default handler level to decide when to be alerted
# (only when an error occurs or every time the CRON is started).
#monitoring:
#    email:   # Only SMTP(S) support for now
#        to: galopintitouan@gmail.com
#        host: smtp.example.com
#        # port: 25
#        # username: ~
#        # password: ~
#        # encryption: ~
#        # subject: An error occured during Acme PHP CRON renewal
#        # level: error     # By default, only on error for email handler
#
#    slack:
#        token: your_token
#        channel: general   # Channel name without hashtag
#        # username: Acme PHP
#        # level: info      # By default, on every CRON for slack handler
