name: Create phar
on:
    pull_request:
jobs:
    create_phar:
      name: Create phar
      runs-on: ubuntu-latest
      permissions:
        pull-requests: write
      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.3'
            tools: box
        - uses: ramsey/composer-install@v3
        - name: Build PHAR
          run: box compile
        - uses: actions/upload-artifact@v4
          with:
            name: amcephp.phar
            path: build/acmephp.phar
            if-no-files-found: error
            overwrite: true
        - uses: mshick/add-pr-comment@v2
          with:
            message: |
              We have created a phar file for testing, find it here: ${{ steps.artifact-upload-step.outputs.artifact-url }}
