name: Test and build

on:
    pull_request: ~
    push:
        branches:
            - master

jobs:
    php-cs:
        runs-on: ubuntu-latest
        steps:
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: '7.2'
            - uses: actions/checkout@master
            - name: php-cs-fixer
              run: |
                  wget https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases/download/v2.16.4/php-cs-fixer.phar -q
                  php php-cs-fixer.phar fix --dry-run --diff

    tests-php72-deps-low-pebble-default:
        runs-on: ubuntu-latest
        steps:
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: '7.2'
            - uses: actions/checkout@master
            - name: Install dependencies
              run: |
                  composer require --dev "sebastian/comparator:^2.0"
                  composer update --no-interaction --no-progress --ansi --prefer-lowest --prefer-stable
            - name: Preparing tests
              run: ./tests/setup.sh
            - name: Running tests
              run: ./tests/run.sh

    tests-php73-deps-lock-pebble-default:
        runs-on: ubuntu-latest
        steps:
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: '7.3'
            - uses: actions/checkout@master
            - name: Install dependencies
              run: composer install
            - name: Preparing tests
              run: ./tests/setup.sh
            - name: Running tests
              run: ./tests/run.sh

    tests-php74-deps-high-pebble-eab:
        runs-on: ubuntu-latest
        env:
            PEBBLE_MODE: eab
        steps:
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: '7.4'
            - uses: actions/checkout@master
            - name: Install dependencies
              run: composer update --no-interaction --no-progress --ansi --prefer-stable
            - name: Preparing tests
              run: ./tests/setup.sh
            - name: Running tests
              run: ./tests/run.sh

    tests-php80-deps-high-pebble-eab:
        runs-on: ubuntu-latest
        env:
            PEBBLE_MODE: eab
        steps:
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.0'
            - uses: actions/checkout@master
            - name: Install dependencies
              run: composer update --no-interaction --no-progress --ansi --prefer-stable
            - name: Preparing tests
              run: ./tests/setup.sh
            - name: Running tests
              run: ./tests/run.sh

    tests-php81-deps-lock-pebble-default:
        runs-on: ubuntu-latest
        steps:
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.1'
            - uses: actions/checkout@master
            - name: Install dependencies
              run: composer install
            - name: Preparing tests
              run: ./tests/setup.sh
            - name: Running tests
              run: ./tests/run.sh              
